@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: Inter;
}
:root{
    --primary-color:#FFB400;
    --dark:#2B2B2B;
    --second-dark:#767676;
    --bg-:#F0F0F6;
    --white:#fff;
    --green:#7EB942;
}

body{
    background: var(--bg-) !important;
}
header{
    width: 100px;
    height: 100vh;
    background-color: var(--white);
}
.fw600{
    font-weight: 600 !important;
}
.me{
    width: 500px !important;
    height: auto;
}
.btn-my-primary{
    background-color: var(--primary-color)!important;
    color: var(--white)!important;
}
.bg-my-primary:hover{
    background-color: #eaa402!important;
}

.mlr{
    margin-left: 380px;
    margin-right: 100px;
}

.bg{
    background-color: var(--white);
}
.mb-150{
    margin-bottom: 150px;
}
.mini{
    width: 30px !important;

}
.fitcon{
    width: fit-content;
}
.height-5px{
    height: 5px !important;
}
.bg-my-primary{
    background-color: var(--primary-color) !important;
}
.text-green{
    color: var(--green);
}
.text-secon{
    color: var(--second-dark);
}
.text-my-dark{
    color: var(--dark);
}
.text-my-primary{
    color: var(--primary-color);
}
.circles{
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: var(--bg-) !important;
    display: flex !important;
    justify-content: center;
    align-items: center;

}
.circles-active{
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: var(--primary-color) !important;
}
.circles-active svg path{
    fill: var(--dark);
}
.w-200{
    width: 350px;
    
}
.height-100{
    height: 100vh;
}
.pfp{
    aspect-ratio: 1;
    height: 120px !important;
}
.online{
    position: relative !important;
    border-radius: 100%;
}
.online::after{
    content: "";
    position: absolute;
    top: 82%;
    left: 82%;
    height: 20px;
    width: 20px;
    background-color: var(--green);
    z-index: 1;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(44, 44, 44, 0.24);
}
.fs-48{
    font-size: 48px !important;
    font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 123.6%;
}

#cercle-1{
    top: 70px;
    left: 90px;
}
#cercle-2{
    top: 70px;
    left: 50%;
}
#cercle-3{
    top: 80%;
    left: 10%;
}
#cercle-4{
    top: 73%;
    left: 55%;
}
#rec1{
    top: 10%;
    right: 10%;
}
#rec2{
    bottom: 32%;
    left: 40%;
}
#tri1{
    left: 70%;
    top: 30%;
}


.parent-of-apear:hover .apear-on-hover{
    display: block;    
}
.apear-on-hover{
    display: none;
    font-size: 12px;
    position: absolute;
    bottom: 80%;
    padding: 5px 10px;
    background: var(--dark);
    color: var(--white);
    border-radius: 5px;
}
.apear-on-hover::before{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
    content: '';
    display: inline-block;
    border: 7px solid var(--dark);
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
}
@media ( max-width:992px){
    .mlr{
        margin-left: 10px;
    }
    
}
@media(max-width:1200px){
    #cercle-2{
        left: 20%;
        top: 60%;
    }
}
@media ( max-width:500px){
    .d-xs-none{
        display: none;
    }
}
.myorder:hover{
    background-color: var(--primary-color);
    transition: all .3s ease-in-out;
}
.myorder:hover *{
    fill: var(--white);
    color: var(--white) !important;
}
.myorder{
    cursor: pointer;
}
.br50{
    border-radius: 30px;
}
.hover:hover{
    background: var(--bg-);
}
